		

		#Contorno{
			position: absolute;
			left: 540px;
			top: 500px;
			border: solid black 4px;
			width: 20%;
			height: 40px;
			border-radius: 20px;
		}

		#Barra{
			position: absolute;
			left: 544px;
			top: 504px;
			width: 0%;
			height: 40px;
			background: #45ce27;
			border-radius: 18px;
		}

		body{
			background: url('Fundo.jpg');
		}

		#DivQuestao{
			height: 120px;
		}
		
		#Botao{
			border:6px #45ce27;
			width: 70%;
			height: 60px;
			border-radius: 30px;
			cursor: pointer;
			border-style: outset;
			background: #8d968a;
			color:#77d856;
			font-size: 20px;
			vertical-align: middle; 
			display: table-cell; 
		}

		form {
			border:1px black solid;
			width: 50%;
			height: 600px;
			background: #6f7c71;
			border-radius: 20px;
		}

		h1{
			font-size: 35px;
		}

		h2{
			font-size: 15px;
		}

		h3{
			font-size: 25px;
			width: 90%;
		}

		label{
			visibility: hidden;
		}

		#ProgressoTexto{
			color:#45ce27;
		}

		#DivAlternativas{
			text-align: left;
			width: 90%;
		}
